<div class="card" style="width: 40%;">
    <div class="card-body">
        <button type="button" class="btn btn-labeled btn-danger">
            <span class="btn-label"><i class="glyphicon glyphicon-edit"></i></span>Edit</button>
      <h5 class="card-title">Astorius the Brave</h5>
      <div class="row">
        <div class="col">STR</div>
        <div class="col">DEX</div>
        <div class="col">CON</div>
        <div class="col">INT</div>
        <div class="col">WIS</div>
        <div class="col">CHR</div>
        <div class="w-100"></div>
        <div class="col">10</div>
        <div class="col">10</div>
        <div class="col">10</div>
        <div class="col">10</div>
        <div class="col">10</div>
        <div class="col">10</div>
        <div class="w-100"></div>
        <div class="col">+2</div>
        <div class="col">+2</div>
        <div class="col">+2</div>
        <div class="col">+2</div>
        <div class="col">+2</div>
        <div class="col">+2</div>        
      </div>
      <div class="btn-group dropright">
        <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Terrain
        </button>
        <div class="dropdown-menu">
          <!-- Dropdown menu links -->
          Test
        </div>
        </div>
        <div class="btn-group dropright">
            <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Action
            </button>
            <div class="dropdown-menu">
              <!-- Dropdown menu links -->
            </div>
      </div>
      <br>
      <a href="#" class="btn btn-primary">Roll</a>
      <a href="#" class="btn btn-primary">Reset</a>
    </div>
  </div>
