<div class="card" style="width: 40%;">
    <div class="card-body">
      <h5 class="card-title">{{char.charName}}</h5>
      <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
        <input type="radio" class="btn-check" name="{{char.charName}}btnradio" id="{{char.charName}}btnradio1" autocomplete="off" checked>
        <label class="btn btn-outline-primary" for="{{char.charName}}btnradio1">Nav/Track</label>
      
        <input type="radio" class="btn-check" name="{{char.charName}}btnradio" id="{{char.charName}}btnradio2" autocomplete="off">
        <label class="btn btn-outline-primary" for="{{char.charName}}btnradio2">Scout</label>
      
        <input type="radio" class="btn-check" name="{{char.charName}}btnradio" id="{{char.charName}}btnradio3" autocomplete="off">
        <label class="btn btn-outline-primary" for="{{char.charName}}btnradio3">Hunt/Forage</label>

        <input type="radio" class="btn-check" name="{{char.charName}}btnradio" id="{{char.charName}}btnradio4" autocomplete="off">
        <label class="btn btn-outline-primary" for="{{char.charName}}btnradio4">Map</label>

        <input type="radio" class="btn-check" name="{{char.charName}}btnradio" id="{{char.charName}}btnradio5" autocomplete="off">
        <label class="btn btn-outline-primary" for="{{char.charName}}btnradio5">Entertain</label>

        <input type="radio" class="btn-check" name="{{char.charName}}btnradio" id="{{char.charName}}btnradio6" autocomplete="off">
        <label class="btn btn-outline-primary" for="{{char.charName}}btnradio6">Watch</label>
        </div>

        <select class="form-select" aria-label="Default select example">
          <option selected>{{terrain}}</option>
          <option value="road">Road</option>
          <option value="grass">Grass</option>
          <option value="river">river</option>
          <option value="forest">Forest</option>
          <option value="hill">Hill</option>
          <option value="forrestHill">Forest Hill</option>
          <option value="forsetDense">Forest Dense</option>
          <option value="swamp">Swamp</option>
          <option value="marsh">Marsh</option>
          <option value="mountain">Mountain</option>
          <option value="cliff">Cliff</option>
        </select>



      

    </div>
  </div>
