<form [formGroup]="charForm" (ngSubmit)="onSubmit()">

    <input id="charName" type="text" formControlName="charName" placeholder="Name">
  
    <input id="str" type="number" formControlName="str" placeholder="str">
    <input id="dex" type="number" formControlName="dex" placeholder="dex">
    <input id="con" type="number" formControlName="con" placeholder="con">
    <input id="int" type="number" formControlName="int" placeholder="int">
    <input id="wis" type="number" formControlName="wis" placeholder="wis">
    <input id="cha" type="number" formControlName="cha" placeholder="cha">
    <input id="strMod" type="number" formControlName="strMod" placeholder="strMod">
    <input id="dexMod" type="number" formControlName="dexMod" placeholder="dexMod">
    <input id="conMod" type="number" formControlName="conMod" placeholder="conMod">
    <input id="intMod" type="number" formControlName="intMod" placeholder="intMod">
    <input id="wisMod" type="number" formControlName="wisMod" placeholder="wisMod">
    <input id="chaMod" type="number" formControlName="chaMod" placeholder="chaMod">
    <button class="button" type="submit">Add</button>

  
  </form>