<form [formGroup]="charForm" (ngSubmit)="onSubmit()">

    <input id="charName" type="text" formControlName="charName" placeholder="Name">
  
    <input id="survival" type="number" formControlName="survival" placeholder="survival">
    <input id="dexterity" type="number" formControlName="dexterity" placeholder="dexterity">
    <input id="perception" type="number" formControlName="perception" placeholder="perception">
    <input id="intelligence" type="number" formControlName="intelligence" placeholder="intelligence">
    <input id="charisma" type="number" formControlName="charisma" placeholder="charisma">
    <button class="button" type="submit">Add</button>

  
  </form>