<div class="title">
  <img src="../assets/Title.png">
  <h5> A custom 5e travel system</h5>
</div>
<div class="jumbotron" style="width: 40%; margin-left: auto; margin-right: auto;"  *ngIf="!charList">
  <h1 class="display-4">Welcome to Devins and Dragons</h1>
  <p class="lead">Please add a character to begin</p>
  <hr class="my-4">
  <p class="lead">
    <button class="btn btn-lg btn-outline-primary" (click)="open()">Add A New Hero</button>
  </p>
</div>
<div *ngIf="charList">
  <img src="/assets/road icon.png" width="100" height="100" (click)="this.setTerrain('Road')" />
  <img src="/assets/grass icon.png" width="100" height="100" (click)="this.setTerrain('Grass')" />
  <img src="/assets/river icon.png" width="100" height="100" (click)="this.setTerrain('River')" />
  <img src="/assets/forest icon.png" width="100" height="100" (click)="this.setTerrain('Forest')" />
  <img src="/assets/forest on a hill icon.png" width="100" height="100" (click)="this.setTerrain('Forest/Hill')" />
  <img src="/assets/swamp icon.png" width="100" height="100" (click)="this.setTerrain('Swamp')" />
  <img src="/assets/marsh icon.png" width="100" height="100" (click)="this.setTerrain('Marsh')" />
    <img src="/assets/cliff icon.png" width="100" height="100" (click)="this.setTerrain('Cliff')" />
    <div *ngFor="let char of charList"><app-player-card [char]="char"></app-player-card>
    </div>
    <button class="btn btn-lg btn-outline-primary" (click)="roll()">Roll</button>
    <br>
    <button class="btn btn-lg btn-outline-primary" (click)="open()">Add A New Hero</button>
</div>